<select class="native-select form-control"
        title={{title}}
        multiple={{multiple}}
        {{action "selectByValue" on="change"}}>
  {{#if showNativePrompt}}
    <option value="">{{promptMessage}}</option>
  {{/if}}
  {{#if nestedGroupContentList.firstObject.name}}
    {{#each nestedGroupContentList as |group|}}
      <optgroup label={{group.name}}>
        {{#each group.items as |item|}}
          <option value={{item.value}} selected={{item.selected}}>{{item.label}}</option>
        {{/each}}
      </optgroup>
    {{/each}}
  {{else}}
    {{#each contentList as |item|}}
      <option value={{item.value}} selected={{item.selected}}>{{item.label}}</option>
    {{/each}}
  {{/if}}
</select>
