{{partial "components/native-select"}}

<div class="bs-select dropdown {{if nativeMobile 'hidden-xs'}} {{if disabled 'disabled'}} {{if showDropdown 'open'}}">
  <button type="button"
          {{action "showHide"}}
          class="btn dropdown-toggle {{buttonClass}}"
          id={{menuButtonId}}
          disabled={{disabled}}
          aria-expanded="true">
    <span class="pull-left">
      {{selectionSummary}}
      <span class={{if selectionBadge 'badge' 'caret'}}>{{selectionBadge}}</span>
    </span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby={{menuButtonId}}>
    {{#if liveSearch}}
      <li>
        {{input type="text" class="search-filter form-control" value=searchFilter focus="preventClosing"}}
      </li>
    {{/if}}
    {{#if multiple}}
      <li>
        {{#if splitAllNoneButtons}}
          <div class="btn-group select-all-none btn-block" role="group" aria-label="Select all or none">
            <button type="button" class="btn btn-default btn-xs" {{action "selectAllNone" "unselectedContentList"}}>{{selectAllLabel}}</button>
            <button type="button" class="btn btn-default btn-xs" {{action "selectAllNone" "selectedContentList"}}>{{selectNoneLabel}}</button>
          </div>
        {{else}}
          <button type="button" class="btn btn-default btn-xs btn-block" {{action "toggleSelectAllNone"}}>
            {{selectAllNoneLabel}}
            <span class="check-mark glyphicon {{glyphiconClass}}"></span>
          </button>
        {{/if}}
      </li>
    {{/if}}
    {{#each nestedGroupContentList as |group|}}
      {{#unless group.items.firstObject.first}}<li class="divider" role="presentation"></li>{{/unless}}
      {{#if group.name}}<li class="dropdown-header" role="presentation">{{group.name}}</li>{{/if}}
      {{#each group.items as |item|}}
        <li role="presentation" class="{{if item.active 'active'}} {{if item.selected 'selected'}}">
          <a role="menuitem" tabindex="-1" {{action "selectItem" item}}>
            {{item.label}}
            <span class="glyphicon glyphicon-ok check-mark {{if item.selected '' 'hidden'}}"></span>
          </a>
        </li>
      {{/each}}
    {{/each}}
  </ul>
</div>
