{{view "select"
       class="native-select form-control"
       classNameBindings="nativeMobile:visible-xs-inline:hidden"
       content=content
       selection=selection
       value=value
       title=title
       prompt=prompt
       multiple=multiple
       disabled=disabled
       optionGroupPath=optionGroupPath
       optionLabelPath=optionLabelPath
       optionValuePath=optionValuePath}}

<div {{bind-attr class=":bs-select :btn-group :dropdown nativeMobile:hidden-xs disabled:disabled showDropdown:open"}}>
  <button type="button"
          {{bind-attr class=":btn :btn-default :dropdown-toggle class"}}
          {{bind-attr id=menuButtonId}}
          {{bind-attr disabled=disabled}}
          {{action "showHide"}}
          aria-expanded="true">
    <span class="pull-left">
      {{selectionSummary}}
      <span {{bind-attr class="selectionBadge:badge:caret"}}>{{selectionBadge}}</span>
    </span>
  </button>
  <ul class="dropdown-menu" role="menu" {{bind-attr aria-labelledby=menuButtonId}}>
    {{#if liveSearch}}
      <li>
        {{input type="text" class="search-filter form-control" value=searchFilter action="preventClosing" on="focus"}}
      </li>
    {{/if}}
    {{#if multiple}}
      <li>
        {{#if splitAllNoneButtons}}
          <div class="btn-group select-all-none btn-block" role="group" aria-label="Select all or none">
            <button type="button" class="btn btn-default btn-xs" {{action "selectAllNone" "unselectedContentList"}}>{{selectAllLabel}}</button>
            <button type="button" class="btn btn-default btn-xs" {{action "selectAllNone" "selectedContentList"}}>{{selectNoneLabel}}</button>
          </div>
        {{else}}
          <button type="button" class="btn btn-default btn-xs btn-block" {{action "toggleSelectAllNone"}}>
            {{selectAllNoneLabel}}
            <span {{bind-attr class=":pull-right :glyphicon glyphiconClass"}}></span>
          </button>
        {{/if}}
      </li>
    {{/if}}
    {{#each groupedContentList as |item|}}
      {{#if item.group}}
        {{#unless item.first}}<li class="divider" role="presentation"></li>{{/unless}}
        <li class="dropdown-header" role="presentation">{{item.group}}</li>
      {{/if}}
      <li role="presentation" {{bind-attr class="item.active:active item.selected:selected"}}>
        <a role="menuitem" tabindex="-1" {{action "selectItem" item}}>
          {{item.label}}
          <span {{bind-attr class=":glyphicon :glyphicon-ok :check-mark item.selected::hidden"}}></span>
        </a>
      </li>
    {{/each}}
  </ul>
</div>
